{% macro pa_evaluation(score) %}
    {% if score > 749 %}
        Raisonnable
    {% elseif score > 349 %}
        Partiel
    {% elseif score >= 0 %}
        Faible
    {% else %}
        NA
    {% endif %}
{% endmacro %}
{% import _self as macros %}

<div id="table-container">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h3>SCORE = {{ score|number_format(0, '.', '') }}</h3>
        <div>
            <div class="btn-group btn-group-sm me-2">
                <button type="button" class="btn btn-outline-primary btn-toggle-all" data-target=".collapse-pa" data-action="show" title="Tout déplier PA">PA +</button>
                <button type="button" class="btn btn-outline-primary btn-toggle-all" data-target=".collapse-pa" data-action="hide" title="Tout replier PA">PA -</button>
            </div>
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-secondary btn-toggle-all" data-target=".collapse-tir" data-action="show" title="Tout déplier TIR">TIR +</button>
                <button type="button" class="btn btn-outline-secondary btn-toggle-all" data-target=".collapse-tir" data-action="hide" title="Tout replier TIR">TIR -</button>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Axe</th>
                    <th>PA</th>
                </tr>
            </thead>     

            {% set currentthematic = "" %}
            {% for pa in pas %}
                <tr>
                    {% if currentthematic != pa.thematic.code %}
                        <td rowspan="{{ pa.thematic.pas|length }}" style="text-align:center; vertical-align: middle;">
                            <center>
                                <surline class="mb-3">
                                    SCORE<br>
                                    {{ pa.thematic.score|number_format(2, '.', '') }}<br>
                                </surline>
                                {{ pa.thematic.code }}<br>
                                {{ pa.thematic.title }}<br><br>
                                <verysmall>pondération = {{ pa.thematic.length }}</verysmall><br>
                            </center>
                        </td>
                        {% set currentthematic = pa.thematic.code %}
                    {% endif %}

                    <td>
                        {% set pa_score = pa.score %}
                        {# Le titre devient le déclencheur de l'accordéon #}
                        <surline class="d-flex btn-collapse" 
                                 style="cursor: pointer;"
                                 data-bs-toggle="collapse" 
                                 data-bs-target="#collapse-{{ pa.code }}"
                                 aria-expanded="false" 
                                 aria-controls="collapse-{{ pa.code }}">
                            <span class="flex-grow-1"><strong>{{ pa.code }}</strong> = {{ pa.title }}</span>
                            <span>{{ pa_score|number_format(0, '.', '') }}</span>
                        </surline>

                        {# Contenu masqué par défaut #}
                        <div class="collapse mt-2 collapse-pa" id="collapse-{{ pa.code }}">
                            <div class="pa-details p-2">
                                Score = {{ pa_score|number_format(0, '.', '') }}<br>
                                Evaluation = {{ macros.pa_evaluation(pa_score) }}<br>
                                <verysmall>
                                    pondération = {{ pa.tirs|length }}<br>
                                    priorité = {{ pa.materiality.title }}<br>
                                </verysmall>

                                <table class="table table-sm table-striped table-bordered mt-2" style="width:100%;">
                                    {% for tir in pa.tirs %}
                                        <tr>
                                            <td width="70px"><big>{{ tir.code }}</big></td>
                                            <td>
                                                <div class="d-flex btn-collapse align-items-center" 
                                                     style="cursor: pointer;"
                                                     data-bs-toggle="collapse" 
                                                     data-bs-target="#collapse-tir-{{ tir.id }}"
                                                     aria-expanded="false" 
                                                     aria-controls="collapse-tir-{{ tir.id }}">
                                                    <big class="flex-grow-1">{{ tir.title }}</big>
                                                </div>
                                                <div class="collapse collapse-tir" id="collapse-tir-{{ tir.id }}">
                                                    <div class="card mt-3">
                                                    <div class="card-header">
                                                        Commentaire
                                                    </div>
                                                    <div class="card-body">
                                                        <textarea class="form-control textarea-comment" data-tir-id="{{ tir.id }}" rows="2">{{ tir.comment }}</textarea>
                                                    </div>
                                                </div>
                                                
                                                <div class="card mt-3">
                                                    <div class="card-header">
                                                        DMR
                                                    </div>
                                                    <div class="card-body">
                                                        <table class="table table-sm table-striped table-bordered mt-2" style="width:100%;">
                                                            <thead>
                                                                <tr>
                                                                    <td width="33.33333%">
                                                                        <div class="d-flex justify-content-beetween">
                                                                            <span class="flex-grow-1">Documentation</span>
                                                                            <button class="btn btn-sm btn-success float-right open-dmr-modal" data-bs-toggle="modal" data-bs-target="#dmrModal" data-tir-id="{{ tir.id }}" data-dmr-type="documentation" title="Ajouter Documentation">
                                                                                <i class="fas fa-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                    <td width="33.33333%">
                                                                        <div class="d-flex justify-content-beetween">
                                                                            <span class="flex-grow-1">Moyen</span>
                                                                            <button class="btn btn-sm btn-success float-right open-dmr-modal" data-bs-toggle="modal" data-bs-target="#dmrModal" data-tir-id="{{ tir.id }}" data-dmr-type="moyen" title="Ajouter Moyen">
                                                                                <i class="fas fa-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                    <td width="33.33333%">
                                                                        <div class="d-flex justify-content-beetween">
                                                                            <span class="flex-grow-1">Résultat</span>
                                                                            <button class="btn btn-sm btn-success float-right open-dmr-modal" data-bs-toggle="modal" data-bs-target="#dmrModal" data-tir-id="{{ tir.id }}" data-dmr-type="resultat" title="Ajouter Résultat">
                                                                                <i class="fas fa-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </thead>

                                                            <tr>
                                                                <td>
                                                                    {% for doc in tir.dmrs|filter(d => d.type.value == 'documentation') %}
                                                                        {{ not loop.first?"<hr>"}}
                                                                        <p class="dmr-item" style="cursor:pointer" data-dmr-id="{{ doc.id }}" data-bs-toggle="modal" data-bs-target="#dmrModal" title="Modifier">{{ doc.comment|nl2br }}</p> 
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for doc in tir.dmrs|filter(d => d.type.value == 'moyen') %}
                                                                        {{ not loop.first?"<hr>"}}
                                                                        <p class="dmr-item" style="cursor:pointer" data-dmr-id="{{ doc.id }}" data-bs-toggle="modal" data-bs-target="#dmrModal" title="Modifier">{{ doc.comment|nl2br }}</p> 
                                                                    {% endfor %}
                                                                </td>
                                                                <td>
                                                                    {% for doc in tir.dmrs|filter(d => d.type.value == 'resultat') %}
                                                                        {{ not loop.first?"<hr>"}}
                                                                        <p class="dmr-item" style="cursor:pointer" data-dmr-id="{{ doc.id }}" data-bs-toggle="modal" data-bs-target="#dmrModal" title="Modifier">{{ doc.comment|nl2br }}</p> 
                                                                    {% endfor %}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>

                                                
                                                {{ render(path("bninefiles_files", {domain: 'evidence', id: tir.id, editable: 1})) }}
                                                </div>
                                            </td>

                                            <td width="150px">
                                                <select class="form-control form-control-sm select-maturity" data-tir-id="{{ tir.id }}">
                                                    {% for maturity in maturitys %}
                                                        <option value="{{ maturity.id }}" {% if maturity.id == tir.maturity.id %}selected{% endif %}>
                                                            {{ maturity.title }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td width="70px" class="text-center font-weight-bold">
                                                {{ tir.maturity.value }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>