{% extends 'base.html.twig' %}

{% block title %} = {{title}}{% endblock %}

{% block body %}
    <h1>{{title}}</h1>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-table fa-2x"></i>
            <a href="{{ path(routesubmit) }}" class="btn btn-success float-end">Ajouter</a>
        </div>
        <div class="card-body">
            <table id="dataTables" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                <tr>
                    <th width="70px" class="no-sort">Action</th>
                    <th width="70px">Code</th>
                    <th>Titre</th>
                </tr>
                </thead>
                <tbody>
                    {% for maturity in maturitys %}
                        <tr>
                            <td class="text-center"><a href="{{ path(routeupdate,{id:maturity.id}) }}"><i class="fas fa-file fa-2x"></i></a></td>
                            <td class="text-center">{{maturity.code}}</td>
                            <td>{{maturity.title}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block localscript %}
    <script>
        $(document).ready(function() {
            $('#dataTables').DataTable({
                columnDefs: [ { "targets": "no-sort", "orderable": false }, { "targets": "no-string", "type" : "num" } ],
                responsive: true,
                iDisplayLength: 100,
                order: [[ 1, "asc" ]]
            });
        });
    </script>
{% endblock %}
